body{
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    justify-content: space-between;
    align-self: center;
}

header p{
    margin-right: 80px;   
}

.inicio{
    background-image: url("../assets/images/banner-bk.jpg");
    padding: 100px;
    background-size: cover;
    background-repeat: no-repeat;
    color: rgb(255, 255, 255);
   background-position: center;
}

.text_fondo{
    max-width:40% ;
    margin: 40px 70px;
    justify-content: flex-end;
    text-align: justify;
}

.word{
    font-family:sans-serif;
    font-size:  55px;
}

.button{
    background-color: #34e991;
    color: rgb(0, 0, 0);
    padding: 15px 40px;
    border: none;
    border-radius: 60px;
}

.logo{
  margin: 40px 70px;
  width: 100px;
  height: auto;
   
}

.segundoTitulo{
    padding: 60px 0;
    text-align: center;
}

.list {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.alo {
    margin: 100px 50px;
    max-width: 300px;
    font-size: 40px;
    
}
.ale{ 
   
    font-size: 2000px;
       
}

  .button2{
    background-color: #090c25;
    color: rgb(255, 255, 255);
    padding: 15px 40px;
    border: none;
    border-radius: 60px;
}

.titulo2{
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

.tercerTitulo{
    padding: 150px 100px;
    text-align:left;
    background: linear-gradient(160deg, #fff 50%, #34e991 0);
}

.text3{
    width: 100%;
}

.p2{
    color: #666;
}

.atla{
    display: flex;
    justify-content: space-between;
}

.atla div, .atla img{
    width: 45%;
}
